@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<GradingPlatformMVC.Models.CourseHasStudent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-page="@ViewData["Page"]" asp-route-search="@ViewData["CurrentFilter"]">Course Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-page="@ViewData["Page"]" asp-route-sortOrder="@ViewData["RegistrationNumNavigation"]" asp-route-search="@ViewData["CurrentFilter"]">Registration Number</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-page="@ViewData["Page"]" asp-route-sortOrder="@ViewData["Grade"]" asp-route-search="@ViewData["CurrentFilter"]">Grade</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCourse" asp-route-id2="@item.RegistrationNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCourse" asp-route-id2="@item.RegistrationNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCourse" asp-route-id2="@item.RegistrationNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
<nav>
    @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,

    })
</nav>

